.btn {
    margin:0;
    padding:0;
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;

}
.btn:hover{
    background-color: aqua;
}

body{
    text-align: center;
}